<div class="welcome">
  <h1 class="welcome-head">Budgetify</h1>
  <div class="welcome-div">
    <button class="welcome-button">
      <%= link_to "Sign up", new_user_registration_path, class: "welcome-link" %>
    </button>

    <button class="welcome-button">
      <%= link_to "Log in", new_user_session_path, class: "welcome-link" %>
    </button>
  </div>
  <p class="welcome-p">Budgetify is a user-friendly mobile app designed to streamline and simplify 
    the process of managing personal and business expenses. With its intuitive interface and 
    powerful features, Budgetify empowers users to take control of their finances, make informed financial decisions,
    and achieve their budgeting goals.</p>
</div>